@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Light-grayish-blue);
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  max-width: 1110px;
  margin-bottom: 30px;
}

main > div {
  border-radius: 10px;
  padding: 30px;
  box-shadow: 4px 6px 6px 0px var(--Light-gray);
}
.image {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
  border: 2px solid var(--Light-gray);
}
.image h3 {
  color: var(--Light-grayish-blue);
  font-size: 13px;
}
.image span {
  display: block;
  color: hsla(210, 46%, 95%, 50%);
  font-size: 11px;
}
h1 {
  font-size: 20px;
  color: var(--Light-grayish-blue);
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}
q {
  font-size: 13px;
  color: var(--Light-gray);
  line-height: 1.5;
}
.daniel {
  grid-column: 1 / span 2;
  background-color: var(--Moderate-violet);
  position: relative;
}
.daniel::before {
  content: "";
  width: 100px;
  height: 100px;
  right: 86px;
  top: 0;
  position: absolute;
  background: url(../images/bg-pattern-quotation.svg) no-repeat;
  z-index: 1;
}
.jonathan-w {
  grid-column: 3 / span 1;
  background-color: var(--Very-dark-grayish-blue);
}
.jonathan-h {
  grid-row: 2;
  background-color: var(--White);
}
.jonathan-h .image h3 {
  color: var(--Very-dark-blackish-blue);
}
.jonathan-h .image span {
  color: var(--Light-gray);
}
.jonathan-h h1 {
  color: var(--Very-dark-blackish-blue);
  font-size: 21px;
}
.patrick {
  grid-column: 2 / span 2;
  grid-row: 2;
  background-color: var(--Very-dark-blackish-blue);
}
.kira {
  grid-column: 4;
  grid-row: 1 / span 2;
  background-color: var(--White);
}
.kira .image h3 {
  color: var(--Very-dark-blackish-blue);
}
.kira .image span {
  color: var(--Light-gray);
}

.kira h1 {
  color: var(--Very-dark-blackish-blue);
}

@media (max-width: 1130px) {
  main {
    width: 95%;
    margin: 30px auto;
  }
}

@media (max-width: 375px) {
  main {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
  }
  .daniel::before {
    right: 30px;
  }
}
